<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h4>Modulo di Richiesta</h4>
<form th:action="@{/foto/{id}/compra/confermaModulo (id=${fotografia.id})}" method = "POST" th:object="${utente}">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" th:field="*{nome}"/></td>
        </tr>
        <tr>
            <td>Cognome:</td>
            <td><input type="text" th:field="*{cognome}"/></td>
        </tr>
        <tr>
            <td>e-mail:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Richiede l'utilizzo della foto:</td>
            <td><a th:text="${fotografia.fileBaseName}"/></td>
        </tr>
        <tr>
            <td><button type="submit">Conferma Invio Modulo Acquisto</button></td>
        </tr>
    </table>
</form>
</body>
</html>