<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-ouline-primary"><a th:href="@{/admin/album/visualizza/{id}(id=${idAlbum})}">Torna All'Album</a></button>
<figure class="figure">
    <img src="/static/uploads/" th:src="@{/uploads/{nomeFoto}(nomeFoto = ${foto.fileName})}" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">Titolo: <a th:text="${foto.fileBaseName}"/></figcaption>
    <ul>
        <li><button type="button" class="btn btn-ouline-danger"><a th:href="@{/admin/foto/{id}/elimina (id=${foto.id})}">Elimina la Fotografia</a></button></li>
    </ul>
</figure>
</body>
</html>