<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-outline-danger"><a th:href="@{/album/tuttiByFotografo/{id}(id=${idFotografo})}"><font color="red">Vai al fotografo</font></a></button>
<div class="container-fluid" th:each="foto : ${fotografie}">
    <div class="card" style="width: 18rem;">
        <img src="/static/uploads/" th:src="@{/uploads/{nomeFoto}(nomeFoto = ${foto.fileName})}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"><a th:text="${foto.fileBaseName}"/></h5>
            <a th:href="@{/foto/{id}(id=${foto.id})}" class="btn btn-primary"> Visualizza Intera</a>
        </div>
    </div>
</div>
</table>
</body>
</html>