<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div><button type="button" class="btn btn-outline-danger"><a href="/admin"><font color="red">Torna alla pagina Amministratore</font></a></button></div>
<table class="table">
    <thead>
    <tr>
        <th scope="col" width="200">Nome</th>
        <th scope="col" width="200">Cognome</th>
        <th scope="col" width="200">e-Mail</th>
        <th scope="col" width="200">Dettagli</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fotografo : ${fotografi}">
        <td><a th:text="${fotografo.nome}"/></td>
        <td><a th:text="${fotografo.cognome}"/></td>
        <td><a th:text="${fotografo.email}"/></td>
        <td><a th:href="@{/admin/fotografo/{id}(id=${fotografo.id})}"/>Visualizza</td>
    </tr>
    </tbody>
</table>
</body>
</html>