<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-outline-danger"><a href="/admin/viewFotografi"><font color="red">Torna ai Fotografi</font></a></button>
<h4>Specifiche Fotografo</h4>
<div>
    Nome: <span th:text="${fotografo.nome}">__</span>
</div>
<div>
    Cognome: <span th:text="${fotografo.cognome}">__</span>
</div>
<div>
    e-Mail: <span th:text="${fotografo.email}">__</span>
</div>
<div>
    <button type="button" class="btn btn-outline-primary"><a th:href="@{/admin/album/tuttiByFotografo/{id}(id=${fotografo.id})}"><font color="#5f9ea0">Visualizza Album</font></a></button>
</div>
<div>
    <button type="button" class="btn btn-outline-danger"><a th:href="@{/admin/fotografo/{id}/elimina (id=${fotografo.id})}"><font color="red">Elimina</font></a></button>
</div>
</body>
</html>