<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-outline-danger"><a th:href="@{/fotografo/{id} (id=${fotografo.id})}"><font color="red">Torna Indietro</font></a></button>
<h4>Tutti gli Album di <a th:text="${fotografo.nome}"/> </h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col" width="200">Titolo</th>
        <th scope="col" width="200">Dettagli</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${listaAlbum}">
        <td><a th:text="${album.titolo}"/></td>
        <td><a th:href="@{/album/visualizza/{id} (id=${album.id})}"/>Visualizza</td>
    </tr>
    </tbody>
</table>
</body>
</html>


