<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
</head>
<body>
<button type="button" class="btn btn-outline-danger"><a href="/galleria"><font color="red">Torna Indietro</font></a></button>
<h4>Tutti gli Album</h4>
<table class="table" th:each ="album : ${album}">
    <thead>
    <tr>
        <th scope="col" width="200"><a th:href="@{/fotografo/{id}(id=${album.fotografo.id})}" th:text="${album.fotografo.nome}" /></th>
        <th scope="col" width="200"><a th:href="@{/album/visualizza/{id}(id=${album.id})}" th:text="${album.titolo}"/></th>
    </tr>
    </thead>
    <tbody>
    <div class="container-fluid" th:each="foto : ${album.fotografie}">
        <a th:href="@{/foto/{id}(id=${foto.id})}">
            <img src="/static/uploads/" th:src="@{/uploads/{nomeFoto}(nomeFoto = ${foto.fileName})}" height="100", width="100">
        </a>
    </div>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>